<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go w przykładach: Nie znaleziono</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go w przykładach</a></h2>
      <p>Niestety, strona nie istnieje. Przejdź do <a href="./">strony głównej</a>.</p>
{{ template "footer" }}
    </div>
  </body>
</html>
